<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="nrg">
    <th mat-header-cell *matHeaderCellDef> Nrg</th>
    <td mat-cell *matCellDef="let element"> {{element.nrg}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="office">
    <th mat-header-cell *matHeaderCellDef> Office</th>
    <td mat-cell *matCellDef="let element"> {{element.office}} </td>
  </ng-container>

  <ng-container matColumnDef="section">
    <th mat-header-cell *matHeaderCellDef> Section</th>
    <td mat-cell *matCellDef="let element"> {{element.section}} </td>
  </ng-container>

  <ng-container matColumnDef="judge">
    <th mat-header-cell *matHeaderCellDef> Judge</th>
    <td mat-cell *matCellDef="let element"> {{element.judge}} </td>
  </ng-container>

  <ng-container matColumnDef="objectDescription">
    <th mat-header-cell *matHeaderCellDef> objectDescription</th>
    <td mat-cell *matCellDef="let element"> {{element.object}} </td>
  </ng-container>

  <ng-container matColumnDef="objectCode">
    <th mat-header-cell *matHeaderCellDef> objectCode</th>
    <td mat-cell *matCellDef="let element"> {{element.objectCode}} </td>
  </ng-container>


  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>add</mat-icon>
          <span>Aggiungi Evento</span>
        </button>
        <button mat-menu-item>
          <mat-icon>visibility icon</mat-icon>
          <span>Visualizza Eventi</span>
        </button>
      </mat-menu>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef=" let row; columns: displayedColumns; "></tr>
</table>

